

.content-sec{
         
             .line-title{
                width:32px;
                background-color: $yellow-color;
               }


                .para-title{
                    width:51%;
                }
       
}