.bg-footer{
    background-color: $bg-footer;

            .font-14{
                font-size: $font_14;
            }

//            .line{
//                width:32px;
//                background-color: $yellow-color;
//                margin:0px;
//            }

            .footer_img_center{
                width:51px;
                height:51px;
            }

            .text-grey{
                color:$text-grey;
            }

            

            .img-left-footer{
                width:80px;
                height:80px;
            }

            

            

            .footer-bg{
                background-color: $footer-bg;
                .font-12{
                        font-size:$font-12;
                      }//font 12 in coyrights
                }//footer bg copyright
}//bg footer


