.bg-portfolio{
    background-image: url('../imgs/portfolio/section-bg-8.jpg');
    background-size:cover;
    height:350px;
    width:100%;
    
    .style-font-header{
        font-family:$style-font-header;
    }
}//end of bg header

.bg-contact{
    background-image: url('../imgs/contact/section-bg-10.jpg');
    background-size:cover;
    height:350px;
    width:100%;
    
    .style-font-header{
        font-family:$style-font-header;
    }
}//end of bg header


.bg-blog{
    background-image: url('../imgs/blog/section-bg-11.jpg');
    background-size:cover;
    height:350px;
    width:100%;
    
    .style-font-header{
        font-family:$style-font-header;
    }
}//end of bg header

.bg-shoGrid{
    background-image: url('../imgs/shopGrid/section-bg-shop.jpg');
    background-size:cover;
    height:350px;
    width:100%;
    
    .style-font-header{
        font-family:$style-font-header;
    }
}//end of bg header


.bg-home{
    background-image: url('../imgs/index/section-bg-1.jpg');
    background-size:cover;
    height:100vh;
    width:100%;
}

.bg-about{
    background-image: url('../imgs/aboutUs/section-bg-9.jpg');
    background-size:cover;
    height:450px;
    width:100%;
    
}


