.single-portfolio{    
                    .img-size{
                                width:100%;
                            }

                    .line{
                        width:32px;
                        background-color: $yellow-color;
                        margin:0px;
                        }
    
    .pagination{
        text-indent: 0
    }
}//end of section all