$font-14:14px;
$font-16:16px;
$bg-footer: #303233;
$text-grey:#8f9090;
$font-12:12px;
$font-10:10px;
$style-font:'Conv_Lato-Regular';
$style-font-header: 'Conv_KaushanScript-Regular';
$style-font-header2: 'Conv_Raleway-Bold';
$footer-bg:#232424;
$btn-border-radius:0;
$yellow-color:#fcca03;
$input-border-radius:0;

